body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://imgur.com/osw4DHL");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editUserfields {
  justify-content: center;
  /*border: 15px solid black;*/
  padding: 50px;
  margin: 20px;
  background-color: #3C423B;
  opacity: 0.9;
  color:#F92727;
}

#appbody {
}

.register {
  /*border: 2px solid black;*/
  color:#676A67;

}

.register-info {
  justify-content: center;
  /*border: 15px solid black;*/
  padding: 50px;
  margin: 20px;
  background-color: #3C423B;
  opacity: 0.9;
  color:#F92727;
}

.Home-Header {

}

.Welcome {
  justify-content: center;
  /*border: 15px solid black;*/
  padding: 50px;
  margin: 20px;
  background-color: #3C423B;
  opacity: 0.9;
  color:#F92727;
}

.login {
  justify-content: center;
  /*border: 15px solid black;*/
  padding: 50px;
  margin: 20px;
  background-color: #3C423B;
  opacity: 0.9;
  color:#F92727;
}


